<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet"   th:href="@{/css/registerAndLoginPage.css}"/>
    <title>Personal Login</title>
</head>
<body>
<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
    <div class="wrapper wrapper--w680">
        <div class="card card-4">
            <div class="card-body">
                <h2 class="title">Bireysel Giriş</h2>
                <form th:href="@{/admin}" method="post" th:object="${adminLoginForm}" >
                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Username </label>
                                <input class="input--style-4" type="text" name="username" th:field="*{username}"  />
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Şifre</label>
                                <input class="input--style-4" type="password" name="password"  th:field="*{password}"/>
                            </div>
                        </div>
                    </div>
                    <div class="p-t-15">
                        <button class="btn btn--radius-2 btn--blue" type="submit" style="width: 200px;">Giriş Yap</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
